body {
  box-sizing: border-box;
  width: 100%;
}
section {
  border: 2px solid #5b8c85;
  margin: 20px 50px;
  border-radius: 10px;
  width: 500px;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin-top: 0;
  color: #678a74;
  margin-left: 2px;
  text-transform: capitalize;
}
ul {
  list-style-type: none;
}
.search-bar {
  margin: 20px 0;
  border-right: 2px solid #5b8c85;
  border-top: 2px solid #5b8c85;
  border-bottom: 2px solid #5b8c85;
  border-left: 0 solid #5b8c85;
  padding: 10px 111px 10px 10px;
  border-radius: 0px 5px 5px 0;
}
.btn-primary {
  position: relative;
  left: 27px;
  top: 20px;
}
.btn.btn-primary {
  background-color: #5b8c85;
  border-radius: 5px 0 0 5px;
  border: 1px solid #5b8c85;
  padding: 11px;
}
.btn.btn-primary:hover {
  cursor: pointer;
  background-color: #434e52;
  border: 1px solid #434e52;
}
.today-symbol {
  width: 150px;
  display: block;
  margin-left: 10px;
  margin-bottom: 20px;
}
.temperature-today {
  margin-top: 25px;
  color: grey;
  font-family: "Fjalla One", sans-serif;
}
.current-temperature {
  font-size: 50px;
}
.celsius {
  border-style: none;
  background-color: transparent;
  color: grey;
}
.fahrenheit {
  border-style: none;
  background-color: transparent;
  color: grey;
}
.temperature-icon {
  position: relative;
  bottom: 25px;
  font-size: 10px;
}
.forcast-day {
  text-align: left;
  border: 2px solid #5b8c85;
  border-right: 1px;
  margin-bottom: 35px;
  font-weight: 500px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 75px 5px 5px;
  border-radius: 5px 0 0 5px;
  color: #678a74;
  background-color: white;
}
.current-day {
  background-color: white;
  margin-bottom: 0;
  margin-top: 20px;
  padding: 10px 45px 10px 5px;
  font-size: 25px;
}
.current-day:hover {
  background-color: #5b8c85;
  color: #ccedd2;
}
.description {
  font-size: 13px;
  color: grey;
}
#description {
  text-transform: capitalize;
}

.forcast-symbol {
  width: 60px;
  display: block;
  margin-bottom: 16px;
  position: relative;
  right: 25px;
}
.temperature {
  font-size: 15px;
  color: grey;
  margin-bottom: 27px;
  padding: 12px;
  padding-right: 100px;
  font-family: "Fjalla One", sans-serif;
}
